body {
    background-image: url(../image/bg.jpg);
    font-family: Helvetica, Arial, "微軟正黑體", Heiti TC, "メイリオ", sans-serif;
    font-size: 15px;
}

.mainMask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: black;
    opacity: 1;
    z-index: 55;
    transition: 0.8s 0.1s;
}

.mainMask.hide {
    opacity: 0;
    z-index: -1;
}

.mainWrap {
    position: relative;
    overflow: hidden;
}

header {
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 50;
    transform: translate(0,-100%);
    top: 0;
    left: 0;
    transition: 0.9s ease-in-out;
}

header.show {
    transform: translate(0,0);
}

header .headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0 40px;
}

header .headerWrap .headerLogo {
    width: 230px;
}

header .headerWrap .headerLogo a {
    display: block;
    width: 100%;
    height: 80px;
    background: url(../image/logo.jpg) no-repeat;
}

header .headerWrap .menuWrap ul {
    align-items: baseline;
    list-style: none;
}

header .headerWrap .menuWrap ul li {
    display: inline-block;
}

header .headerWrap .menuWrap ul li a {
    position: relative;
    text-decoration: none;
    color: #111;
    padding: 10px 20px;
    transition: 0.6s;
    font-size: 16px;
}

@media (max-width:1280px) {
    header .headerWrap {
        padding: 0 20px;
    }

    header .headerWrap .menuWrap ul li a {
        padding: 10px;
    }
}

header .headerWrap .menuWrap ul li a::after {
    content: "";
    width: 0px;
    height: 1px;
    position: absolute;
    left: 50%;
    bottom: 0;
    background: #CAAC63;
    transform: translate(-50%,0);
    transition: 0.6s ease-in-out;
}

header .headerWrap .menuWrap ul li:hover a::after {
    width: 20px;
}

header .headerWrap .menuWrap ul li:hover a {
    color: #CAAC63;
}

header .headerWrap .quickLink {
    display: block;
}

header .headerWrap .quickLink a{
    text-decoration: none;
    margin: 10px;
    color: #686868;
    transition: 0.6s;
}

header .headerWrap .quickLink a:hover {
    color: #CAAC63;
}

header .headerWrap .quickLink a i {
    margin-right: 3px;
}

.shoppingButton {
    z-index: 50;
    width: 54px;
    height: 202px;
    text-decoration: none;
    position: fixed;
    left: 55px;
    bottom: 55px;
    color: white;
    border: 1px solid #656569;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-lr;
    letter-spacing: 2px;
    transition: 0.6s;
    font-family: "Cormorant Garamond", serif;
}

.shoppingButton.dark {
    color: #626262;
    border: 1px solid #fff;
    border-right: 1px solid #656569;
}

.shoppingButton.hide {
    opacity: 0;
    pointer-events: none;
}

.shoppingButton.dark:hover {
    color: #fff;
}

.shoppingButton:hover {
    background-color: #CAAC63;
}

.shoppingButton i {
    margin-bottom: 5px;
}

.fixMenu {
    position: fixed;
    top: 20px;
    right: 60px;
    display: flex;
    z-index: 5;
    font-size: 14px;
}

.fixMenu a { 
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 10px;
    transition: 0.6s;
}

.fixMenu a:hover {
    color: #CAAC63;
}

.fixMenu a i {
    margin-right: 3px;
}

.bannerArea {
    background-color: black;
    position: relative;
}

.bannerlogo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.bannerlogo img { 
    display: block;
}

.bannerBox {
    min-height: 80px;
    clear: both;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.bannerBox .bannerText {
    position: absolute;
    display: flex;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-30%);
    justify-content: center;
    transition: 2s 1s;
    opacity: 0;
}

.bannerBox .slick-active .bannerText {
    opacity: 1;
    transform: translate(-50%,-50%);
}

.bannerBox img {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.bannerBox .bannerImage {
    transform: scale(1.1);
    transition: 3s;
}

.slick-active .bannerImage {
    opacity: 1;
    transform: scale(1);
}

.scrollIcon {
    z-index: 5;
    font-family: "Cormorant Garamond", serif;
    letter-spacing: 2px;
    text-decoration: none;
    writing-mode: vertical-rl;
    color: white;
    position: absolute;
    right: 70px;
    bottom: 0;
    padding-bottom: 105px;
    cursor: pointer;
}

.scrollIcon::before {
    content: "";
    width: 1px;
    height: 0px;
    position: absolute;
    bottom: 90px;
    left: 50%;
    background: #fff;
    display: block;
    z-index: 2;
    transform: translate(0,100%);
    animation: scroll 4s linear infinite;
}

.scrollIcon::after {
    content: "";
    width: 1px;
    height: 90px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: #7c7c80;
    display: block;
    z-index: 1;
}

@keyframes scroll {
    0% {
        height: 0;
        bottom: 90px;
    }

    50% {
        height: 90px;
        bottom: 90px;
    }

    100% {
        height: 0px;
        bottom: -90px;
    }
}

.intro {
    z-index: 20;
    position: relative;
    background: url(../image/homebg.jpg) repeat-y top left;
    display: flex;
}

.intro .leftImage img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    transition: 0.6s;
    transform: translate(-40px,0);
    opacity: 0;
}

.intro.show .leftImage img {
    opacity: 1;
    transform: translate(0,0);
}

.intro .rightSection {
    padding-left: 65px;
    padding-top: 90px;
    padding-right: calc( (100%-1750px)/2);
    opacity: 0;
    transform: translate(40px,0);
    transition: 0.9s 0.6s;
    min-width: 450px;
}

.intro .rightSection.show {
    opacity: 1;
    transform: translate(0,0);
}

.title {
    writing-mode: vertical-lr;
    font-family: "Noto Serif JP", "Noto Serif TC", serif;
    letter-spacing: 2px;
}

.title h2 {
    font-size: 30px;
    font-weight: 500;
}

.title em {
    margin-left: 10px;
    display: block;
    color: #808080;
    font-size: 14px;
    font-family: "Cormorant Garamond", serif;
    padding-bottom: 10px;
    font-style: normal;
}

.title em i {
    font-family: "Noto Serif JP", "Noto Serif TC", serif;
    font-style: normal;
}

.title em i::before {
    content: "";
    margin: 5px 0;
    background: #808080;
    width: 1px;
    height: 10px;
    display: inline-block;
    transform: rotate(45deg);
}

@media (max-width:1280px) {
    .title {
        writing-mode: horizontal-tb;
    }
}

.intro .rightSection article {
    padding: 50px 0;
    line-height: 2;
    font-size: 15px;
    color: #626262;
}

.news {
    position: relativ e;
    padding: 110px 0;
    transform: translate(0,30px);
    opacity: 0;
    transition: 0.6s;
}

.news.show {
    opacity: 1;
    transform: translate(0,0);
}

.news .newsWrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
}

.news .title {
    writing-mode: horizontal-tb;
    min-width: 350px;
}

.news .title em {
    margin-left: 0;
}

.news .title em i::before {
    transform: rotate(16deg);
    margin: 0 5px;
}

.news .newsRight {
    position: relative;
    width: 810px;
}

.news .newsRight .newsList {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #d7d7d6;
}

.news .newsRight .newsList::after {
    content: "\f105";
    font-family: FontAwesome;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #313131;
    background-color: transparent;
    border: 1px solid #313131;
    border-radius: 100%;
    width: 23px;
    height: 23px;
    position: absolute;
    right: 0;
    transition: 0.6s;
}

.news .newsRight .newsList:hover::after {
    background-color: #CAAC63;
    color: white;
    border: 1px solid transparent;
}

.news .newsRight .newsList .date {
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
    color: #626262;
}

.news .newsRight .newsList::before {
    content: "";
    background: #626262;
    margin: 0 10px;
    display: block;
    width: 12px;
    height: 1px;
}

.news .newsRight .newsList .category {
    padding: 0 20px;
    font-size: 13px;
    color: #626262;
}

.news .newsRight .newsList h3 {
    font-size: 16px;
    color: #111;
}

.news .newsRight .newsList h3 a {
    text-decoration: none;
    display: block;
    padding-right: 30px;
    color: #111;
    transition: 0.6s;
}

.news .newsRight .newsList h3 a:hover {
    color: #CAAC63;
}

.news .newsRight .more {
    position: absolute;
    right: 0;
    text-align: left;
}

.news .newsRight .more a {
    width: 180px;
    display: inline-block;
    padding: 10px 0 20px;
    text-decoration: none;
    color: #2d2d2d;
    transition: 0.6s;
}

.news .newsRight .more a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d;
    transition: 0.6s;
}

.news .newsRight .more:hover a {
    color: #CAAC63;
}

.news .newsRight .more:hover a::after{
    border-top: 1px solid #CAAC63 ;
    border-bottom: 1px solid #CAAC63;
}

.lowerBanner {
    opacity: 0;
    position: relative;
    transition: 0.6s;
}

.lowerBanner.show {
    opacity: 1;
}

.lowerBanner .lowerLogo {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%,0);
}

.lowerBanner .lowerImage {
    display: block;
}

.lowerBanner .lowerImage img {
    max-width: 100%;
    max-height: 100%;
}

footer {
    padding: 40px 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    transform: translate(0,20px);
    transition: 0.6s ease-in-out;
    opacity: 0;
}

footer.show {
    opacity: 1;
    transform: translate(0,0);
}

footer .media {
    display: flex;
    align-items: center;
}

footer .media a {
    width: 37px;
    height: 37px;
    color: #0f0f0f;
    border: 1px solid #0f0f0f;
    border-radius: 100%;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.6s;
}

footer .media a:hover {
    color: #CAAC63;
    border: 1px solid #CAAC63;
}

footer .copyright {
    font-family: "Noto Serif JP", "Noto Serif TC", serif;
    color: #626262;
    font-size: 13px;
    padding-top: 10px;
    line-height: 2;
}

footer .right .link {
    display: flex;
    align-items: baseline;
}

footer .right .link a::before {
    content: "/";
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    color: #bebebd;
    width: 30px;
}

footer .right .link li:first-child a::before {
    display: none;
}

footer .right .link li {
    list-style: none;
}

footer .right .link li a {
    text-decoration: none;
    font-size: 15px;
    color: #111;
}

footer address {
    font-family: "Noto Serif JP", "Noto Serif TC", serif;
    font-style: normal;
    line-height: 2;
    font-size: 14px;
    padding-top: 20px;
}

footer address li {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    letter-spacing: 1px;
}

footer address li i {
    font-style: normal;
    margin-left: 10px;
    color: #626262;
}

footer address a {
    text-decoration: none;
    color: #111;
}